// primary
$color-primary: #01D6D5;
$color-primary--dark: #08B2B1;
$color-primary--background: rgba(1, 214, 213, 0.15);
// secondary
$color-secondary: #7832FD;
$color-secondary-info: #6184F3;
$color-secondary-warning: #F78A00;
$color-secondary-warning--background: rgba(247, 138, 0, 0.15);
// text
$color-text--primary: #1B1B1E;
$color-text--secondary: #8E8E93;
$color-text--disabled: #E5E5EA;
// other
$color-error: #FE3246;
$color-error--background: rgba(254, 50, 70, 0.15);
$color-success: #00B248;
$color-border--dark: #D1D1D6;
$color-border: $color-text--disabled;

// box shadow
@mixin boxshadow($type) {
    @if $type == 1 {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    } @else if $type == 2 {
        box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    }
}
